.my_topnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: pink;
    margin-bottom: 1%;
}

.my_textbox {
    height: 20px;
}

.my_button {
    background: plum;
    border: none;
    height: 20px;
}

.my_login {
    color: black;
    margin-left: 20px;
    font-size:32px;
}

.my_search {
    width: 30%;
    margin-right: 1%;
    display: flex;
    justify-content: flex-end;
}


.my_results {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background: skyblue;
    border: none;
    width: 30%;
    height: auto;
    margin-right: 1%;
}

.my_menu {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.my_main {
    display: flex;
    justify-content: space-between;
}